@charset "UTF-8";
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.container {
  width: 1440px;
  max-height: 100%;
  margin: 0 auto;
}

.container__header {
  padding: 0 180px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media (max-width: 1199px) {
  .container {
    max-width: 960px;
  }
}

@media (max-width: 991px) {
  .container {
    max-width: 750px;
  }
}

@media (max-width: 768px) {
  .container {
    max-width: 100%;
    padding: 0 20px;
  }
}

@font-face {
  font-family: 'fontello';
  src: url("../font/fontello.eot?87378980");
  src: url("../font/fontello.eot?87378980#iefix") format("embedded-opentype"), url("../font/fontello.woff2?87378980") format("woff2"), url("../font/fontello.woff?87378980") format("woff"), url("../font/fontello.ttf?87378980") format("truetype"), url("../font/fontello.svg?87378980#fontello") format("svg");
  font-weight: normal;
  font-style: normal;
}

/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'fontello';
    src: url('../font/fontello.svg?87378980#fontello') format('svg');
  }
}
*/
[class^="icon-"]:before, [class*=" icon-"]:before {
  font-family: "fontello";
  font-style: normal;
  font-weight: normal;
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  /* opacity: .8; */
  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;
  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;
  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: .2em;
  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */
  /* Font smoothing. That was taken from TWBS */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
  margin: 0;
}

.icon-instagram:before {
  content: '\f16d';
}

/* '' */
.icon-facebook-official:before {
  content: '\f230';
}

/* '' */
html {
  font-size: 10px;
}

body {
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  color: #000000;
}

img {
  max-width: 100%;
}

button:focus, input:focus, textarea:focus, a:focus {
  outline: none;
}

ul {
  padding-left: 0;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

.btn__fb {
  font-size: 18px;
  vertical-align: center;
  border-radius: 3px;
}

.btn__fb:before {
  font-size: 22px;
  vertical-align: center;
}

.btn__insta {
  font-size: 28px;
  vertical-align: center;
}

.header {
  height: 90px;
}

.header__logo {
  min-width: 342px;
  height: 50px;
}

.header-nav__menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header-nav__menu li {
  margin-right: 30px;
}

.header-nav__menu li:last-child {
  margin-right: 0;
}

.header-nav__menu li:after {
  content: '';
  display: block;
  width: 100%;
  height: 2px;
  background-color: #0a0a0a;
  -webkit-transform: translateY(5px) scale(0);
          transform: translateY(5px) scale(0);
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

.header-nav__menu li:hover {
  text-decoration: none;
}

.header-nav__menu li:hover:after {
  -webkit-transform: translateY(6px) scale(1);
          transform: translateY(6px) scale(1);
}

.header-nav__menu li a {
  font-size: 1.4rem;
  line-height: 10px;
  color: #0a0a0a;
}

.header-contacts {
  width: 250px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header-contacts__phone-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header-contacts__phone-block img {
  margin-right: 10px;
}

.header-contacts__phone {
  font-size: 1.6rem;
  line-height: 10px;
}

.header-contacts__social-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header-contacts__fb {
  color: #ffffff;
  background-color: #000000;
}

.header-contacts__fb:hover {
  background-color: #173763;
}

.header-contacts__insta {
  margin-left: 2px;
  color: #000000;
}

.header-contacts__insta:hover {
  color: #173763;
}
/*# sourceMappingURL=style.css.map */