html
    font-size: 10px
body
    +light
    color: $black
img
    max-width: 100%
button, input, textarea, a
    &:focus
        outline: none
ul
    padding-left: 0
li
    list-style: none
a
    text-decoration: none
button
    border: none 
.btn
    &__primary
        padding: 25px
        box-shadow: inset 0 0 3px #f5c06b
        background-color: #2e3032
        background-image: linear-gradient(to top, #ce963d 0%, #f5c06b 100%)
        border-radius: 10px
        color: $white
        font-size: 17px
        line-height: 22px
        text-transform: uppercase
        text-shadow: 1px 2px 2px rgba(93, 64, 18, 0.47)
    &__fb
        font-size: 18px
        vertical-align: center
        border-radius: 3px
        &:before
            font-size: 22px
            vertical-align: center
    &__insta
        font-size: 28px
        vertical-align: center
.side-title
    display: flex
    align-items: center
    justify-content: flex-end
    width: 150px
    min-height: 100%
    font-size: 1.4rem
    position: relative
    text-align: right
    &__text
        position: absolute
        right: 65px
        transform: translateX(50%) rotate(-90deg)
        white-space: nowrap
        color: $secondary-text
        margin: 0
    &__btn
        margin-right: 20px
        padding: 0
        width: 18px
        height: 30px
        background-color: transparent
        border: 2px solid $secondary-text
        border-radius: 9px
        position: relative
        &:after
            content: ''
            display: block
            background-color: $secondary-text
            width: 4px
            height: 8px
            border-radius: 2px
            position: absolute
            top: 5px
            left: 5px
    &_white
        .side-title
            &__text
                color: $white
            &__btn
                border: 2px solid $white
                &:after
                    background-color: $white
// .section
//     &_color
//         width: 100%
//     &_white
//         width: 100%
// .section
//     padding: 100px 0
//     &-title
//         font-size: 30px
//         +bold
//         text-align: center
//         text-transform: uppercase
//         margin-top: 0
//         margin-bottom: 100px