.hero
    height: 100%
    &__text
        position: absolute
        // top: 192px
        // left: 200px
    &__btn
        position: absolute
        z-index: 13
        top: 415px
        left: 250px