.hero
    height: 100%
    &__text
        position: absolute
        top: 192px
        left: 200px
        background-color: transparent
    &__btn
        position: absolute
        top: 415px
        left: 250px